<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Admin site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="vi" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="Xavia Decor là của hàng kinh doanh các sản phẩm trang trí nội thất nhập khẩu và nội địa có chất lượng cao, hoạt động từ cuối năm 2015. Trong suổt thời gian hoạt động từ khi thành lập, Cửa hàng chúng tôi đã nỗ lực không ngừng để có sự tăng trưởng liên tục và thành tích kinh doanh ấn tượng. Đến nay, Xavia Décor đã thực sự trở thành nhà cung cấp các sản phẩm trang trí nội thất hàng đầu với các thương hiệu sản phẩm uy tính với người tiêu dùng.">
    <meta name="Keywords" content="xavia, trang trí nội thất, nội thất, đồ trang trí nội thất, trang tri noi that, noi that, do trang tri noi that">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://xaviadecor.com">
    <meta property="og:title" content="Xavia Decor - Chuyên cung cấp đồ trang trí nội thất cao cấp">
    <meta property="og:image" content="http://xaviadecor.com/Content/Images/Banners/XaviaLogo.png">
    <meta property="og:site_name" content="Xavia Decor">
    <meta property="og:description" content="Xavia Decor - Chuyên cung cấp đồ trang trí nội thất cao cấp">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <link rel="icon" type="image/ico" href="~/Content/Images/Banners/faviorIcon.jpg">

    @Styles.Render("~/Content/adminCss")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/others")
    @Scripts.Render("~/bundles/adminScript")
    <script>
        $(document).ready(function () {
            $("#Panel_MessageBox").initMessageBox()
        })
    </script>

    <script>
        $(document).ready(function () {
            @*var navItems = $("#Panel_NavigateBar_AdminPage li").removeClass("active");
            var activeItem = $("#Panel_NavigateBar_AdminPage li[data-navigateType = @ViewBag.CurrentPageName]").first();
            $(activeItem).addClass("active");*@
        })
    </script>

</head>
<body class="sidebar-mini skin-green">
    <div class="wrapper">
        @RenderPage("_HeaderPartial.cshtml")
        
        <div class="content-wrapper">
            @RenderBody()
        </div>
        
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
            </div>
            <strong>Copyright &copy; @DateTime.Now.Year <a href="#" target="_blank"></a>.</strong> All rights reserved.
        </footer>
    </div>
    <!-- MessageBox -->
    <div id="Panel_MessageBox">
    </div>
    <!-- MessageBox -->

    @RenderSection("scripts", required: false)
</body>
</html>