@model OnlineStore.Service.Messaging.SearchProductResponse

@{
    ViewBag.Title = "kết quả tìm kiếm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/plugins/pagingcontrol/jquery.simplePagination.js"></script>
<link href="~/Content/plugins/pagingcontrol/simplePagination.css" rel="stylesheet" />
<link href="~/Content/display-product/display-product-view.css" rel="stylesheet" />
<link href="~/Content/display-product/search-result.css" rel="stylesheet" />
<script src="~/Scripts/DisplayProduct/SearchProductResult.js"></script>

<div class="columns-container">
    <div id="columns" class="container">
        <div class="breadcrumb clearfix">
            <a class="home" href="/" title="Trở về Trang chủ">
                <i class="fa fa-home"></i>
            </a>
            <span class="navigation-pipe">&gt;</span>
            Tìm kiếm
        </div><!-- breadcrumb -->
        <div class="row">
            <!-- content -->
            <div class="large-left col-sm-12">
                <div class="row">
                    <div id="center_column" class="col-xs-12 col-sm-12 accordionBox">
                        <h1 class="page-heading product-listing">
                            <span class="cat-name">@ViewBag.SearchTitle </span>
                            <span class="heading-counter">Có @Model.NumberOfTitlesFound sản phẩm</span>
                        </h1> <!-- title category panel -->
                        <div class="content_sortPagiBar clearfix">
                            <!-- content filter-display bar -->
                            <div class="sortPagiBar clearfix">
                                <ul class="display hidden-xs">
                                    <li class="display-title">View:</li>
                                    <li id="grid" class="selected">
                                        <a rel="nofollow" href="#" title="Grid">
                                            <i class="fa fa-th-large"></i>
                                            Grid
                                        </a>
                                    </li>
                                    <li id="list">
                                        <a rel="nofollow" href="#" title="List">
                                            <i class="fa fa-th-list"></i>
                                            List
                                        </a>
                                    </li>
                                </ul>
                                <div class="form-group">
                                    <label>Sắp xếp theo</label>
                                    @Html.DropDownList("SortProductOptionsSelectListItems")
                                </div>
                            </div><!-- display-content bar -->
                            <div class="top-pagination-content clearfix">
                                <div class="paging-control-filtercontent pull-right"></div>
                            </div><!-- pagination-content bar -->
                        </div><!-- sort bar -->
                        @Html.Partial("ListProduct", Model.Products)  <!-- list product -->
                        <div class="content_sortPagiBar">
                            <div class="bottom-pagination-content clearfix">
                                <div class="paging-control-filtercontent pull-right"></div>
                            </div>
                        </div><!-- sort bar -->
                    </div><!-- list product panel -->
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    SearchProductManagement.init(@Model.NumberOfTitlesFound,@Model.CurrentPage,@Model.SearchString);
</script>
